<div class="col-md-12">
	<div class="content-box-large">
		<div class="panel-heading">
		<div class="panel-title">Vehicle Models</div>

		<div class="panel-options">
      <%= link_to 'New Vehicle Model', new_vehicle_model_path %>
			<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
			<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
		</div>
	</div>
		<div class="panel-body">
			<table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Brand</th>
            <th>Model Name</th>
            <th>Vehicle Type</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @vehicle_models.each do |vehicle_model| %>
            <tr>
              <td><%= vehicle_model.id %></td>
              <td><%= vehicle_model.brand.name %></td>
              <td><%= vehicle_model.name %></td>
              <td><%= vehicle_model.vehicle_type.name %></td>
              <td><%= link_to 'Show', vehicle_model %></td>
              <td><%= link_to 'Edit', edit_vehicle_model_path(vehicle_model) %></td>
              <td><%= link_to 'Destroy', vehicle_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
		</div>
	</div>
</div>
