<p id="notice"><%= notice %></p>

<h1>Part Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_attributes.each do |part_attribute| %>
      <tr>
        <td><%= part_attribute.name %></td>
        <td><%= part_attribute.parent_id %></td>
        <td><%= link_to 'Show', part_attribute %></td>
        <td><%= link_to 'Edit', edit_part_attribute_path(part_attribute) %></td>
        <td><%= link_to 'Destroy', part_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part Attribute', new_part_attribute_path %>
