<%= simple_form_for(@vehicle_submodel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :vehicle_model %>
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
