<div class="sidebar content-box" style="display: block;">
  <ul class="nav">
    <%= nav_item icon(:home) + " Dashboard", root_path %>
    <%= nav_item icon(:calendar) + " Brands", brands_path %>
    <%= nav_item icon(:fighter_jet) + " Vehicles", vehicles_path %>
    <%= nav_item icon(:list) + " Vehicle Models", vehicle_models_path %>
    <%= nav_item icon(:bus) + " Vehicle Submodels", vehicle_submodels_path %>
    <%= nav_item icon(:pencil) + " Vehicle Types", vehicle_types_path %>
    <%= nav_item icon(:tasks) + " Products", products_path %>
    <%= nav_item icon(:cog) + " Parts", parts_path %>
    <%= nav_item icon(:compass) + " Categories", categories_path %>
    <%= nav_item icon(:eye_slash) + " Fitments", fitments_path %>
  </ul>
</div>
